entry = {
	bundle = AppList;
  	cell = PSLinkCell;
	isController = 1;
	ALSettingsPath = "/var/mobile/Library/Preferences/com.ps.apppad.plist";
	ALSettingsKeyPrefix = "AppPad-";
	ALAllowsSelection = 1;
  	ALSectionDescriptors = (
  	{
		  title = "System Applications to Disable";
		  predicate = "isSystemApplication = TRUE";
		  "cell-class-name" = "ALSwitchCell";
		  "icon-size" = 29;
		  "suppress-hidden-apps" = 1;
  	},
  	{
		  title = "User Applications to Disable";
		  predicate = "isSystemApplication = FALSE";
		  "cell-class-name" = "ALSwitchCell";
		  "icon-size" = 29;
		  "suppress-hidden-apps" = 1;
		  "footer-title" = "© 2021 PoomSmart";
  	}
  );
};